@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&display=swap');

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media(max-width:428px) {
  header {
    background-image: url(../images/Background-mobile.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 70px 25px 70px 25px;
    gap: 24px;
    color: white;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .headerButtonDownload {
    height: 55px;
    background-color: white;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
  }

  .headerButtonNav {
    height: 55px;
    background-color: #23272A;
    color: white;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 30px 25px;
    gap: 25px;
  }

  .Section2, .Section4 {
    background-color: #F6F6F6;
  }

  footer {
    background-color: #23272A;
    display: flex;
    justify-content: center;
    padding: 45px;
  }

  .footerLogo {
    height: 45px;
  }

}